files:
  "/tmp/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat.prospectors:
        - input_type: log
          paths:
            - /var/log/application/*.json
          json.keys_under_root: true
          fields_under_root: true
          fields:
            environment: plc_ParamEnvironmentName
            application: plc_ParamApplicationName
          document_type: application
        - input_type: log
          paths:
            - /var/log/nginx/*.log
          fields_under_root: true
          fields:
            environment: plc_ParamEnvironmentName
            application: plc_ParamApplicationName
          document_type: nginx
      output.elasticsearch:
        hosts: ["plc_ParamElasticSearchEndpoint"]
        index: "logs-%{+yyyy.MM.dd}"
        username: admin
        password: vuitonline75!
        protocol: https
        indices:
          - index: "application-%{+yyyy.MM.dd}"
            when.contains:
              type: "application"
          - index: "request-%{+yyyy.MM.dd}"
            when.contains:
              type: "nginx"
container_commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-5.2.0-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -ivh --replacepkgs filebeat-5.2.0-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: sudo sed "s/plc_ParamEnvironmentName/$ParamEnvironmentName/g;s/plc_ParamApplicationName/$ParamApplicationName/g;s/plc_ParamElasticSearchEndpoint/$ParamElasticSearchEndpoint/g;" /tmp/filebeat.yml > /etc/filebeat/filebeat.yml
    cwd: /home/ec2-user
  4_command:
    command: "/etc/init.d/filebeat restart"
