files:
  "/tmp/run.sh":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      exec java -javaagent:/var/newrelic/newrelic.jar -Dnewrelic.config.app_name=${ParamAccountName}_${ParamEnvironmentName}_${ParamApplicationName} -Dnewrelic.config.license_key=${ParamNewRelicLicenseKey} -jar /var/app/current/application.jar
container_commands:
  1_command:
    command: "sudo chmod a+x /tmp/run.sh"